<h1>Tasks</h1>
<p>Here are all your tasks right now:</p>
<h2>Today's goals</h2>
<ul>
  <% @promoted_tasks.each do |task| %>
    <li>
      <%= link_to task.summary, task %><%= button_to 'Complete', complete_task_path(task), method: :put %><%= button_to 'Demote to task', demote_task_path(task), method: :put %>
    </li>
  <% end %>
</ul>
<h2>Other goals</h2>
<ul>
  <% @open_tasks.each do |task| %>
    <li>
      <%= link_to task.summary, task %><%= button_to 'Complete', complete_task_path(task), method: :put %><%= button_to 'Promote to goal', promote_task_path(task), method: :put %>
    </li>
  <% end %>
</ul>

<%= link_to "Add task", new_task_path %>

<h2>Complete tasks</h2>
<ul>
  <% @closed_tasks.each do |task| %>
    <li>
      <%= task.summary %><%= button_to 'Reopen', reopen_task_path(task), method: :put %>
    </li>
  <% end %>
</ul>
